---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /cart/
Disallow: /cart/success/
Disallow: /404.html
Disallow: /bpr/brand-style-guide/

Sitemap: {{ site.url }}/sitemap.xml
