---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/</loc>
    <lastmod>{{ "now" | w3Date }}</lastmod>
    <priority>1.0</priority>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/music/</loc>
    <lastmod>{{ "now" | w3Date }}</lastmod>
    <priority>0.9</priority>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/about/</loc>
    <lastmod>{{ "now" | w3Date }}</lastmod>
    <priority>0.8</priority>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/blog/</loc>
    <lastmod>{% set lastBlog = collections.blog | last %}{% if lastBlog %}{{ lastBlog.date | w3Date }}{% else %}{{ "now" | w3Date }}{% endif %}</lastmod>
    <priority>0.8</priority>
    <changefreq>weekly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/merch/</loc>
    <lastmod>{{ "now" | w3Date }}</lastmod>
    <priority>0.7</priority>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>{{ site.url }}/label/</loc>
    <lastmod>{{ "now" | w3Date }}</lastmod>
    <priority>0.7</priority>
    <changefreq>monthly</changefreq>
  </url>
  {%- for release in releases %}
  <url>
    <loc>{{ site.url }}/music/{{ release.slug }}/</loc>
    <lastmod>{{ release.year }}-01-01</lastmod>
    <priority>0.8</priority>
    <changefreq>yearly</changefreq>
  </url>
  {%- endfor %}
  {%- for post in collections.blog %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | w3Date }}</lastmod>
    <priority>0.6</priority>
    <changefreq>yearly</changefreq>
  </url>
  {%- endfor %}
</urlset>
